.about{
    max-width: 1920px;
    margin-bottom: 116px;
    .title{
        font-weight: 550;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 30px;
        color: #000000;
    }
    .text{
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 35px;
    }
    a{
        color: #0063DD;
        font-weight: 550;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        &::after{
        content:url(../img/aboutArrow.svg);
        position: absolute;
        top: 0;
        left: 95px;
        }
    }
}
.about__container{
    max-width: 1371px;
    margin: 60px auto 0;
    position: relative;
    z-index: 1;
    padding: 0 10px 0 10px;
    .rectangle-1{
        background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
        border-radius: 40px;
        transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
        width: 389.71px;
        height: 482.98px;
        position: absolute;
        top: -45px;
        left: 130px;
        z-index: -1;
    }
    .rectangle-2{
        background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
        border-radius: 40px;
        transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
        width: 389.71px;
        height: 482.98px;
        position: absolute;
        bottom: -90px;
        right: 120px;
        z-index: -1;
    }
    
}
.about__block-1{
    display: flex;
    max-width: 1213px;
    margin: 0 auto 233px;
    position: relative;
    justify-content: space-between;

    img{
        max-width: 100%;
        height: auto;
    }
    .right-side{
        max-width: 543px;
        margin-top: 77px;
    }
}
.about__block-2{
    display: flex;
    justify-content: space-between;
    max-width: 1213px;
    margin: 0 auto;
    .right-side{
        margin-right: 140px;
        img{
            max-width: 100%;
            height: auto;
        }
        .rectangle{
            background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
            border-radius: 40px;
            transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
            width: 389.71px;
            height: 482.98px;
            position: absolute;
            top:620px;
            left:850px;
            z-index: -1;
        }
    }
    .left-side{
        max-width: 543px;
        margin: 77px 0 0 0;
    }
}