.footer{
    max-width: 1920px;
    background: #0063DD;
    margin: 0 auto;
    position: relative;
    display: flex;
}
.footer__items{
    display: flex;
    position: relative;
    min-width: 1306px;
    margin: 0 auto;
    justify-content: space-between;
    ul{
        display: flex;
        margin: 51px 76px 50px 0;
        li{
            margin-right: 42px;
            &:nth-last-child(-n+1){
                margin-right: 0;
            }
            a{
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }
    }
}
.copyright{
    margin: 51px 248px 50px 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.social{
    margin: 51px 144px 44px 0;
    img{
        margin-right: 15px;
    }
}
.scroll{
    margin-top: 28px;
}