*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
    color: #000;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #FFFFFF;
    overflow-x: hidden;
    font-family: Quicksand;
    min-width: 320px;
    max-width: 1920px;
    margin: 0 auto;
}