@media (max-width: 1680px){
    .testimonials__left-side {
        top: 75px;
    }
    .testimonials__left-side img {
        max-width: 80%;
    }
    .testimonials__content {
        margin-left: 700px;;
    }
}
@media (max-width: 1600px){
    .scroll {
        top: -90px;
    }
}
@media (max-width: 1440px){
    .testimonials__left-side {
        top: 125px;
    }
    .testimonials__left-side img {
        max-width: 60%;
    }
    .testimonials__content {
        margin-left: 530px;
    }
}

@media (max-width: 1240px){
    .about__container{
        max-width: 1067px;
    }
    .about__block-1 .right-side {
        margin: auto 13px auto 0;
    }
    .about__block-1 .left-side {
        margin-left: 30px;
    }
    .about__block-2 .left-side {
        margin: auto 15px auto 15px;
    }
    .about__block-2 .right-side {
        margin-right: 130px;
    }
    .about__container .rectangle-1{
            background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
            border-radius: 40px;
            transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
            width: 289.71px;
            height: 382.98px;
            position: absolute;
            top: -35px;
            left: 45px;
            z-index: -1;
        }
        .about__container .rectangle-2{
            background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
            border-radius: 40px;
            transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
            width: 289.71px;
            height: 382.98px;
            position: absolute;
            bottom: 15px;
            right: 150px;
            z-index: -1;
        }
        .price__rate-1 .title {
            margin: 0 0 25px;
            text-align: center;
        }
        .price__rate-2 .title {
            margin: 0 0 25px;
            text-align: center;
        }
        .price__cost {
            margin: 0 auto;
        }
}
@media (max-width: 1100px){
    .testimonials__left-side{
        display: none;
    }
    .testimonials__content {
        margin-left: 10px;
    }
    .slick-dots {
        left: 50%;
        transform: translate(-50%);
    }
    .footer__items{
        display: block;
        text-align: center;
    }
    .copyright {
        margin: 0 0 20px 0;
    }
    .footer__items ul {
        max-width: 360px;
        margin: 0 auto 20px;
    }
    .social {
        margin: 0;
        padding-bottom: 20px;
    }

}
@media (max-width: 845px){
    .about .title {
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 30px;
    }
    .about .text {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 8px;
    }
    .news__content {
        display: block;
    }
    .news__content .left-side {
        width: 558px;
        max-width: 100%;
        margin: 0 auto 30px;
    }
    .about__card {
        margin: 0 auto 33px;
    }
}
@media (max-width: 790px){
    .navigation-btn a {
        padding: 15px 40px;
    }
    .about__container .rectangle-1,
    .about__container .rectangle-2{
        display: none;
    }
    .price .container {
        display: block;
    }
    .price__info {
        margin-right: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .price__btn {
        display: inline-flex;
    }
    .price__rate-1 {
        width: 362px;
    }
    .price__rate-1 img{
        display: none;
    }
    .price__rate-2 {
        width: 362px;
    }
    .price__rate-2 img{
        display: none;
    }
}
@media (max-width: 750px){
    .header__menu{
        display: block;
        margin: 0 auto;
        position: relative;
        margin-top: -15px;
    }
    .navigation-btn {
        margin-top: 18px;
    }
    .navigation-btn a {
        text-align: center;
        left: 10px;
        right: 10px;
        position: absolute;
        max-width: 90%;
        padding: 8px 0;
    }
}
@media (max-width: 640px){
    .features {
        margin-bottom: 90px;
    }
    .features__content {
        display: block;
        padding-top: 80px;
    }
    .card {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .about__block-1 .left-side {
        display: none;
    }
    .about__block-1{
        margin-bottom: 100px;
    }
    .about__block-1 .right-side {
        margin: 0 auto;
    }
    .about__block-2 .right-side {
        display: none;
    }
    .about__block-2 .left-side {
        margin: 0 auto;
    }
    .steps{
            margin: 0 auto;
    }
    .steps__content {
        padding-top: 0;
    }
    .steps__items {
        display: block;
    }
    .steps__items .steps__card {
        margin: 0 auto;
        max-width: 320px;
    }
    .steps__items .steps__card:nth-last-child(-n+1) {
        margin: 0 auto;
    }
    .steps__items .text {
        margin-bottom: 60px;
    }
    .steps__items .line{
        display: none;
    }
    .testimonials{
        margin-top: 0;
        margin-bottom: 0;
    }
    .testimonials__card{
        width: 100% !important;
    }
    .testimonials__title {
        text-align: center;
    }   
    .trial__inner{
        display: block;
        text-align: center;
    }
    .trial__info {
        margin: 133px auto 0;
    }
    .trial__info .text {
        margin-bottom: 25px;
    }
    .trial__inner .trial__btn {
        margin: 0 auto 129px;
    }
    .subscribe .container{
        padding: 0 0;
    }
}
@media (max-width: 550px){
    .header__navigation {
        display: block;
        text-align: center;
    }
    .header__menu .nav li {
        margin: 0 auto;
    }
    .nav{
        text-align: center;
    }
    .navigation-btn a {
        margin: 0 auto;
        padding: 10px 0;
    }
    .about__card .title {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .about__card .text {
        font-size: 13px;
        line-height: 20px;
    }
    .about__card {
        margin: 0 auto 60px;
    }
    .buttons .subscribe__email{
        width: 100%;
        font-size: 13px;
    }
}

@media (max-width: 390px){
    .header__info-buttons {
        display: block;
    }
    .btn-download {
        margin: 0 0 40px 0;
    }
    .devices{
        display: none;
    }
    .price__btn .btn-month {
        padding: 14px 40.5px;
    }
    .price__btn .btn-month.active {
        padding: 14px 40.5px;
    }
    .price__btn .btn-year {
        padding: 15px 47px;
    }
    .price__btn .btn-year.active {
        padding: 15px 47px;
    }
    .price__rate-1 .btn a {
        padding: 13px 30px;
    }
    .price__rate-2 .btn a {
        padding: 13px 30px;
    }
    .testimonials__card{
        width: 300px !important;
    }
    .footer__items ul {
        max-width: 320px;
    }
    .footer__items ul li {
        margin-right: 20px;
    }
    .scroll {
        left: 40%;
    }
}
@media (max-width: 340px){
    .about__card .title {
        margin-left: 0px;
        margin-bottom: 0;
    }
    .about__card img {
        margin-top: 25px;

    }
}
