@media (max-width: 1680px){
    .testimonials__left-side {
        top: 75px;
    }
    .testimonials__left-side img {
        max-width: 80%;
    }
    .testimonials__content {
        margin-left: 700px;;
    }
}
@media (max-width: 1440px){
    .testimonials__left-side {
        top: 125px;
    }
    .testimonials__left-side img {
        max-width: 60%;
    }
    .testimonials__content {
        margin-left: 530px;
    }
    .footer__items{
        display: block;
        text-align: center;
        min-width: 0;
    }
    .copyright {
        margin: 20px 0;
    }
    .footer__items ul {
        max-width: 360px;
        margin: 0 auto 20px;
    }
    .social {
        margin: 0;
        padding-bottom: 20px;
    }
    .scroll {
        position: absolute;
        top: 75px;
        right: 0;
    }
    .scroll img {
        max-width: 40px;
    }
}
@media (max-width: 1300px){
    .about__block-1 {
        justify-content: normal;
    }
    .about__block-1 .left-side {
        margin-right: 57px;
    }
    .about__block-2 .left-side {
        margin-right: 57px;
    }
}

@media (max-width: 1240px){
    .about__container{
        max-width: 1067px;
    }
    .about__block-1 .left-side {
        margin-left: 0;
    }
    .about__block-1 .right-side {
        margin: auto 13px auto 0;
    }

    .about__block-2 .left-side {
        margin: auto 15px auto 15px;
    }
    .about__block-2 .right-side {
        margin-right: 70px;
    }
    .about__container .rectangle-1{
            background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
            border-radius: 40px;
            transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
            width: 289.71px;
            height: 382.98px;
            position: absolute;
            top: -35px;
            left: 45px;
            z-index: -1;
        }
        .about__container .rectangle-2{
            background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
            border-radius: 40px;
            transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
            width: 289.71px;
            height: 382.98px;
            position: absolute;
            bottom: 15px;
            right: 150px;
            z-index: -1;
        }
        .steps {
            margin: 0 auto;
        }
        .price__info {
            margin: 0 auto;
            text-align: center;
        }
        .price__btn {
            margin: 0 auto;
        }
        .price__cost{
            justify-content: center;
        }
        .price__rate-1{
            margin-right: 0;
        }
        .price__rate-1 .title {
            margin: 0 0 25px;
            text-align: center;
        }
        .price__rate-2 .title {
            margin: 0 0 25px;
            text-align: center;
        }
        .price__cost {
            margin: 0 auto;
        }
        .price .container {
            display: block;
        }
        .testimonials{
            margin: 0 auto;
        }
}
@media (max-width: 1100px){
    .about {
        margin-bottom: 0px;
    }
    .about__block-1 {
        margin: 0 auto 100px;
    }
    .about__container .rectangle-1,
    .about__container .rectangle-2{
        display: none;
    }
    .features {
        padding-bottom: 50px;
    }
    .testimonials {
        height: 460px;
    }
    .testimonials__left-side{
        display: none;
    }
    .testimonials__content {
        margin-left: 13px;
        padding-top: 60px;
    }
    .slick-dots {
        left: 50%;
        transform: translate(-50%);
    }
    .news {
        margin-bottom: 0px;
    }
    .subscribe__items {
        margin: 45px auto 0;
    }
    .buttons {
        margin-bottom: 70px;
    }
}
@media (max-width: 970px){
    .about__block-1 .left-side {
        margin-right: 20px;
    }
}
@media (max-width: 845px){
    .about .title {
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 30px;
    }
    .about .text {
        font-size: 13px;
        line-height: 20px;
        margin-bottom: 8px;
    }
    .news__content {
        display: block;
    }
    .news__content .left-side {
        width: 558px;
        max-width: 100%;
        margin: 0 auto 30px;
    }.about {
        margin-bottom: 70px;
    }
    .about__card {
        margin: 0 auto 33px;
    }
    .about__block-1{
        display: flex;
        flex-flow: column;
        margin: 0 auto 50px;
    }

    .about__block-1 .left-side {
        margin: 0 auto 30px;
    }
    .about__block-1 .right-side {
        margin: 0 auto;
    }
    .about__block-2{
        display: flex;
        flex-flow: column;
    }
    .about__block-2 .left-side {
        margin: 0 auto;
        order: 1;
    }
    .about__block-2 .right-side {
        margin: 0 auto 30px;
        order: 0;
    }

}
@media (max-width: 790px){
    .navigation-btn a {
        padding: 15px 40px;
    }
    .price .container {
        display: block;
    }
    .price__info {
        margin-right: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .price__btn {
        display: inline-flex;
    }
    .price__rate-1 {
        width: 250px;
        min-width: 150px;
    }
    .price__rate-2 {
        width: 250px;
        min-width: 150px
    }
}
@media (max-width: 750px){
    .header__menu{
        display: block;
        margin: 0 auto;
        position: relative;
        margin-top: -15px;
    }
    .navigation-btn {
        margin-top: 18px;
    }
    .navigation-btn a {
        text-align: center;
        left: 10px;
        right: 10px;
        position: absolute;
        max-width: 90%;
        padding: 8px 0;
    }
}
@media (max-width: 640px){
    .features {
        margin-bottom: 40px;
        padding-bottom: 30px;
    }
    .features__content {
        display: block;
        padding-top: 80px;
    }
    .card {
        width: 100%;
        height: 100%;
        margin: 30px auto 0;
        padding-bottom: 30px;
    }
    .card:nth-child(even) {
        margin: 30px 0 0 0;
    }
    .steps{
            margin: 0 auto;
    }
    .steps__content {
        padding-top: 0;
    }
    .steps__items {
        display: block;
    }
    .steps__items .steps__card {
        margin: 0 auto;
        max-width: 320px;
    }
    .steps__items .steps__card:nth-last-child(-n+1) {
        margin: 0 auto;
    }
    .steps__items .text {
        margin-bottom: 60px;
    }
    .steps__items .line{
        display: none;
    }
    .price__info {
        margin: 90px auto 0;
    }
    .testimonials{
        margin-top: 0;
        margin-bottom: 0;
        height: 450px;
    }
    .testimonials__content {
        padding-top: 50px;
    }
    .testimonials__card{
        width: 100% !important;
    }
    .testimonials__title {
        text-align: center;
        font-size: 28px;
    }
    .trial{
        padding-bottom: 70px;
    }   
    .trial__inner{
        display: block;
        text-align: center;
    }
    .trial__info {
        padding-top: 50px;
        margin: 0 auto;
    }
    .trial__info .text {
        margin-bottom: 40px;
    }
    .trial__inner .trial__btn {
        margin: 0 auto 0px;
    }
    .subscribe__items {
        margin: 45px auto 0;
    }
    .subscribe__items .buttons {
        margin-bottom: 60px;
    }

    .buttons .subscribe__email {
        width: 300px;
    }
}

@media (max-width: 550px){
    .header__navigation {
        display: block;
        text-align: center;
    }
    .header__menu .nav li {
        margin: 0 auto;
    }
    .nav{
        text-align: center;
    }
    .navigation-btn a {
        margin: 0 auto;
        padding: 10px 0;
    }
    .about__card .title {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .about__card .text {
        font-size: 13px;
        line-height: 20px;
    }
    .about__card {
        margin: 0 auto 60px;
    }
}
@media (max-width: 490px){
    .buttons .subscribe__email{
        width: 100%;
        font-size: 13px;
    }
    .buttons .subscribe__input {
        padding: 13px 25px;
        font-size: 13px;
    }
}
@media (max-width: 406px){
    .about__card img {
        width: 135px;
        height: 120px;
    }
    .about__card .title {
        margin-left: 155px;
    }
    .about__card .text {
        margin-left: 155px;
    }
}

@media (max-width: 390px){
    .header__info-buttons {
        display: block;
    }
    .btn-download {
        margin: 0 0 40px 0;
    }
    .price__btn .btn-month {
        padding: 14px 40.5px;
    }
    .price__btn .btn-month.active {
        padding: 14px 40.5px;
    }
    .price__btn .btn-year {
        padding: 15px 47px;
    }
    .price__btn .btn-year.active {
        padding: 15px 47px;
    }
    .price__rate-1 .btn a {
        padding: 13px 30px;
    }
    .price__rate-2 .btn a {
        padding: 13px 30px;
    }
    .price__rate-1 .title {
        font-size: 18px;
    }
    .price__rate-2 .title {
        font-size: 18px;
    }
    .price__rate-1 .text {
        font-size: 13px;
    }
    .price__rate-2 .text {
        font-size: 13px;
    }
    .price__rate-1 .cost-month {
        font-size: 28px;
    }
    .price__rate-2 .cost-month {
        font-size: 28px;
    }
    .price__rate-1 .cost-year {
        font-size: 28px;
    }
    .price__rate-2 .cost-year {
        font-size: 28px;
    }
    .slick-slide{
        padding: 0 15px;
        outline: none;
    } 
    .testimonials__card{
        max-width: 320px !important;
    }
    .footer__items ul {
        max-width: 320px;
    }
    .footer__items ul li {
        margin-right: 20px;
    }
    .copyright {
        font-size: 13px;
    }
    .footer__items ul {
        justify-content: center;
    }
    .footer__items ul li a {
        font-size: 13px; 
    }
}
@media (max-width: 360px){
    .trial {
        padding-bottom: 70px;
    }
    .trial__info {
        padding-top: 40px;
    }
    .trial__info .title {
        font-size: 25px;
        margin-bottom: 15px;
    }
    .trial__info .text {
        margin-bottom: 25px;
    }
    .about__card {
        margin: 0 auto 40px;
    }
}
@media (max-width: 340px){
    .about__card .title {
        margin-left: 0px;
        margin-bottom: 0;
    }
    .about__card img {
        margin-top: 25px;
    }
    .slick-slide{
        padding: 0 0px;
        outline: none;
    } 
    .about__card .title {
        margin-bottom: 15px;
        font-size: 15px;
        text-align: center;
    }
    .about__card img {
        margin-top: 45px;
    }
    .about__card {
        margin: 0 auto 70px;
    }
}
