.price{
    max-width: 1920px;
    position: relative;
    .container{
        display: flex;
    }
}
.price__info{
    max-width: 800px;
    margin-right: 60px;
    margin-top: 161px;
    .title{
        font-weight: 550;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .text{
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 40px;
    }
}
.price__btn{
    display: flex;
    max-width: 335px;
    .btn-month{
        border: 3px solid #0F7BFF;
        border-radius: 25px 0 0 25px ;
        background: #FFFFFF;
        padding: 15px 49.5px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #0063DD;
        cursor: pointer;
        &.active{
            background: #0F7BFF;
            border-radius: 25px 0px 0px 25px;
            padding: 14px 49.5px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
    .btn-year{
        border: 3px solid #0F7BFF;
        border-radius: 0 25px 25px 0 ;
        background: #FFFFFF;
        padding: 15px 57px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #0063DD;
        cursor: pointer;
        &.active{
            background: #0F7BFF;
            border-radius: 0 25px 25px 0;
            padding: 15px 57px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}
.price__cost{
    display: flex; 
}
.price__rate-1{
    height: 576px;
    min-width: 362px;
    box-shadow: 0px 4px 20px rgba(0, 36, 80, 0.08);
    border-radius: 5px;
    background: #FFFFFF;
    position: relative;
    margin-right: 30px;
    display: block;
    &:hover{
        img{
            background: rgba(0, 99, 221, 0.23);
            border-radius: 50%;
            padding: 14px;
            margin: 25px auto 6px;
        }
    }
    img{
        margin: 39px auto 20px;
        display: block;
    }
    .title{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        text-align: center;
        margin: 0 142px 25px;
    }
    .price__line{
        border: 1px solid #E9F3F8;
        margin: 0 29px 23px;
    }
    .text{
        font-weight: 300;
        font-size: 16px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 26px;
        text-align: center;
    }
    .cost-month{
        font-weight: 550;
        font-size: 32px;
        line-height: 40px;
        color: #0F7BFF;
        margin-bottom: 40px;
        text-align: center;
        span{
            font-weight: 550;
            font-size: 18px;
            line-height: 22px;
        } 
    }
    .cost-year{
        font-weight: 550;
        font-size: 32px;
        line-height: 40px;
        color: #0F7BFF;
        margin-bottom: 40px;
        text-align: center;
        span{
            font-weight: 550;
            font-size: 18px;
            line-height: 22px;
        } 
    }
    .cost-month.off{
        display: none;
    }
    .cost-year.off{
        display: none;
    }
    .cost-month.on{
        display: block;
    }
    .cost-year.on{
        display: block;
    }
    .btn{
        text-align: center;
        a{
            padding: 13px 49px;
            background: #FFFFFF;
            border-radius: 25px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #0F7BFF;
            border: 2px solid #0F7BFF;
        }
        a:hover{
            border: none;
            color: #FFFFFF;
            background: #0F7BFF;
        }
    }
}
.price__rate-2{
    height: 576px;
    min-width: 362px;
    box-shadow: 0px 4px 20px rgba(0, 36, 80, 0.08);
    border-radius: 5px;
    background: #FFFFFF;
    position: relative;
    &:hover{
        img{
            background: rgba(0, 99, 221, 0.23);
            border-radius: 50%;
            padding: 14px;
            margin: 25px auto 6px;
        }
    }
    img{
        display: block;
        margin: 39px auto 20px;
    }
    .title{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin: 0 142px 25px;
    }
    .price__line{
        border: 1px solid #E9F3F8;
        margin: 0 29px 23px;
    }
    .text{
        font-weight: 300;
        font-size: 16px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 26px;
        text-align: center;
    }
    .cost-month{
        font-weight: 550;
        font-size: 32px;
        line-height: 40px;
        color: #0F7BFF;
        margin-bottom: 40px;
        text-align: center;
        span{
            font-weight: 550;
            font-size: 18px;
            line-height: 22px;
        } 
    }
    .cost-year{
        font-weight: 550;
        font-size: 32px;
        line-height: 40px;
        color: #0F7BFF;
        margin-bottom: 40px;
        text-align: center;
        span{
            font-weight: 550;
            font-size: 18px;
            line-height: 22px;
        } 
    }
    .cost-month.off{
        display: none;
    }
    .cost-year.off{
        display: none;
    }
    .cost-month.on{
        display: block;
    }
    .cost-year.on{
        display: block;
    }
    .btn{
        text-align: center;
        a{
            padding: 13px 49px;
            background: #FFFFFF;
            border-radius: 25px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #0F7BFF;
            border: 2px solid #0F7BFF;
        }
        a:hover{
            border: none;
            color: #FFFFFF;
            background: #0F7BFF;
        }
    }
}