.subscribe{
    display: flex;
    background: #0F7BFF;
    max-width: 1920px;
    margin: 0 auto;
}
.subscribe__items{
    margin: 118px auto 0;
    .title{
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        color: #FFFFFF;
        text-align: center;
    }

}
.buttons{
    display: flex;
    position: relative;
    margin-bottom: 119px;
    .subscribe__email{
        background: #0063DD;
        border-radius: 25px 0 0 25px;
        width: 392px;
        padding: 13px 28px 13px 28px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        outline: none;
        border: none;
        &::placeholder{
            color: #FFFFFF;
        }
    }
    .subscribe__input{
        right: 4px;
        border-radius: 0 25px 25px 0 ;
        background: #FFFFFF;
        padding: 13px 40px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #0063DD;
        outline: none;
        cursor: pointer;
        border: none;
    }
}