@import "libs";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #000;
}
ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #FFFFFF;
    overflow-x: hidden;
    font-family: Quicksand;
    position: relative;
    min-width: 320px;
}

.header{
    max-width: 1920px;
    height: 1029px;
    margin: 0 auto;
    position: relative;
    background-image: url(../img/headerbackground.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    .devices{
        position: absolute;
        top: 500px;
        left: 50%;
        transform: translate(-50%);
    }
}
.header__navigation{
    position: relative;
    display: flex;
    margin-bottom: 128px;
}
.header__logo{
    width: 179px;
    height: 100px;
    background: #0F7BFF;
    border-radius: 0px 0px 21.5px 21.5px;
    margin-left: 136px;
    margin-right: 893px;
    padding: 25px 23px 32px 23px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
    
}
.header__menu{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-right: 52px;
    li{
        display: inline-block;
        margin-right: 36px;
    }
    li:nth-last-child(-n+1){
        margin-right: 0px;
    }
}
.btn{
    a{
        color: #FFFFFF; 
        font-weight: 700;
        font-size: 16px;
        line-height: 20px; 
        background: #0063DD;
        border-radius: 25px;
    }
}
.header__navigation{
    .btn{
        margin-top: 40px;
        a{
            padding: 15px 51px;
        }
    }
}

.header__info{
    width: 655px;
    margin: 0 auto;
}
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
}
.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #929292;
}
.header__info{
    .title{
        margin: 0 105px 30px;
    }
    .text{
        margin-bottom: 33px;
        text-align: center;
    }
}
.header__info-buttons{
    display: flex;
    margin: 0 auto;
    width: 364px;
}
.btn-download{
    margin-right: 30px;
    a{
        padding: 17px 44px 17px 44px;
        background-color: #0F7BFF;
    }
}
.btn-trial{
    a{
        color: #0F7BFF; 
        padding: 17px 44px 17px 44px;
        border: 2px solid #0F7BFF;
        background-color: inherit;
    }
}

/* .container{
    width: 1146px;
    margin: 0 auto;
    display: inline;
} */
.features{
    background-color: #F5FCFD;
    margin: 0 auto;
    max-width: 1920px;
    .scrolldown{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 973px;
    }
}
.features__content{
    display: flex;
    width: 1146px;
    margin: 0 auto;
}
.card{
    width: 362px;
    text-align: center;
    box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
    border-radius: 5px;
    margin: 165px 30px 0 0;
    height: 290px;
    &:nth-last-child(-n+1){
        margin-right: 0px;
    }
    &:nth-child(even){
        margin: 214px 30px 130px 0;
    }
    img{
        margin: 40px 0 25px 0;
    }
    .title{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 25px;
    }
    .text{
        font-weight: 300;
        line-height: 20px;
        color: #000000;
        margin: 0px 14px 47px;
    }
}
.about{
    width: 1146px;
    margin: 0 auto 236px;
    position: relative;
    .title{
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .text{
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 35px;
    }
    a{
        color: #0063DD;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        &::after{
        content:url(../img/aboutArrow.svg);
        position: absolute;
        top: 0;
        left: 95px;
        }
    }
}
.about__block-1{
    display: flex;
    width: 1350px;
    margin: 0 auto 223px;
    .left-side{
        background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
        border-radius: 40px;
        transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
        width: 389.71px;
        height: 482.98px;
        position: absolute;
        top:-50px;
        left:10px;
    }
    img{
        margin-right: 112px;
        z-index: 1;
    }
    .right-side{
        width: 543px;
        margin-top: 77px;
    }
}
.about__block-2{
    display: flex;
    width: 1350px;
    margin: 0 auto;
    .right-side{
        background: linear-gradient(147.4deg, #0F7BFF 7.27%, #0063DD 93.68%);
        border-radius: 40px;
        transform: matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
        width: 389.71px;
        height: 482.98px;
        position: absolute;
        top:620px;
        left:850px;
    }
    img{
        z-index: 1;
    }
    .left-side{
        width: 543px;
        margin: 77px 143px 0 102px;
    }
}
.steps{
    position: relative;
    background-color: #F5FCFD;
    margin: 0 auto 130px;
    max-width: 1920px;

}
.steps__content{
    width: 1146px;
    margin: 0 auto;
}
.steps__info{
    margin: 0 auto;
    width: 722px;
    text-align: center;
    .title{
        font-weight: 400;
        font-size: 32px;
        line-height: 40px;
        color: #000000;
        margin-bottom: 25px;
    }
    .text{
        margin-bottom: 45px;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #000000;
    }
}
.steps__items{
    display: flex;
    img{
        margin-bottom: 30px;
    }
    .line{
        position: absolute;
        top: 210px;
        left: 149px;
        z-index: -1;
    }
    .steps__card{
        width: 333px;
        text-align: center;
        margin-right: 58px;
    }
    .title{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 20px;
    }
    .text{
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 137px;
    }
}
.price{
    width: 1146px;
    margin: 0 auto;
    position: relative;
    display: flex;
}
.price__info{
    width: 332px;
    margin-right: 60px;
    margin-top: 161px;
    .title{
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 30px;
    }
    .text{
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 40px;
    }
}
.price__btn{
    display: flex;
    .btn-month{
        background: #0F7BFF;
        border-radius: 25px 0px 0px 25px;
        padding: 15px 53px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        cursor: pointer;
    }
    .btn-year{
        border: 3px solid #0F7BFF;
        box-sizing: border-box;
        border-radius: 0 25px 25px 0 ;
        background: #FFFFFF;
        padding: 15px 58px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #0063DD;
        cursor: pointer;
    }
}
.price__cost{
    display: flex;
    
}
.price__rate-1{
    width: 362px;
    height: 576px;
    box-shadow: 0px 4px 20px rgba(0, 36, 80, 0.08);
    border-radius: 5px;
    background: #FFFFFF;
    position: relative;
    margin-right: 30px;
    img{
        margin: 39px 124px 20px;
    }
    .title{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin: 0 143px 25px;
    }
    .price__line{
        border: 2px solid #E9F3F8;
        margin: 0 29px 23px;
    }
    .text{
        width: 161px;
        font-weight: 300;
        font-size: 16px;
        line-height: 29px;
        color: #000000;
        margin: 0 101px 26px;
        text-align: center;
    }
    .cost{
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        color: #0F7BFF;
        margin: 0 134px 40px;
        span{
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        } 
    }
    .btn{
        a{
            padding: 15px 51px;
            margin: 0 98px 46px;
        }
    }
}
.price__rate-2{
    width: 362px;
    height: 576px;
    box-shadow: 0px 4px 20px rgba(0, 36, 80, 0.08);
    border-radius: 5px;
    background: #FFFFFF;
    position: relative;
    img{
        margin: 39px 124px 20px;
    }
    .title{
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin: 0 143px 25px;
    }
    .price__line{
        border: 2px solid #E9F3F8;
        margin: 0 29px 23px;
    }
    .text{
        width: 161px;
        font-weight: 300;
        font-size: 16px;
        line-height: 29px;
        color: #000000;
        margin: 0 101px 26px;
        text-align: center;
    }
    .cost{
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        color: #0F7BFF;
        margin: 0 134px 40px;
        span{
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        } 
    }
    .btn{
        a{
            padding: 15px 49px;
            margin: 0 96px 46px;
            background-color: inherit;
            color: #0F7BFF ;
            border: 2px solid #0F7BFF;
            border-radius: 25px;
        }
    }
}
.testimonials{
    position: relative;
    background-color: #F5FCFD;
    margin: 129px auto 130px;
    height: 601px;
    max-width: 1920px;
    background-image: url(../img/testimonialsBack.png);
    background-repeat: no-repeat;
}
.testimonials__content{
    margin-left: 890px;
}
.testimonials__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 40px;
}
.testimonials__card{
    max-width: 362px;
    height: 215px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
    border-radius: 5px;
    filter: drop-shadow(0px 4px 20px rgba(0, 70, 156, 0.08));
    img{
        position: absolute;
        top: 50px;
        right: 37px;
    }
    .title{
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        margin: 0 0 10px 30px;
        padding-top: 40px;
    }
    .suptitle{
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #999999;
        margin: 0 0 25px 30px;
    }
    .text{
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #999999;
        margin: 0 0 0 30px;
        padding-bottom: 39px;
    }
}

.slick{
    &-slide{
        padding: 0 30px;
        outline: none;
    }     
    &-list {
        margin: 0 -30px;
    }
    &-dots{
        display: flex;
        position: absolute;
        bottom: -37px;
        li{
            margin-right: 8px;
            content: url(../img/dotPassive.svg);
            &.slick-active{
                content: url(../img/dotActive.svg);
            }
        }
    }
}
.news{
    position: relative;
    margin: 0 auto 106px;
    max-width: 1197px;
}
.news__head{
    text-align: center;
    margin-bottom: 40px;
    .title{
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    .text{
        width: 722px;
        margin: 0 auto;
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
}
.news__content{
    position: relative;
    display: flex;
}
.left-side{
    width: 558px;
    margin-right: 30px;
    img{
        margin-bottom: 30px;
    }
    .title{
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #0063DD;
        margin-bottom: 25px;
    }
    .text{
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 35px;
    }
    a{
        color: #0063DD;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        &::after{
        content:url(../img/aboutArrow.svg);
        position: absolute;
        top: 2px;
        left: 150px;
        }
    }
}
.about__card{
    max-width: 609px;
    margin-bottom: 33px;
    img{
        width: 166px;
        height: 130px;
        position: absolute;
        box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
        border-radius: 5px;
    }
    .title{
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #000000;
        margin-bottom: 25px;
        margin-left: 202px;
    }
    .text{
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
        margin-left: 202px;
    }
}
.trial{
    display: flex;
    background: #F5FCFD;
    max-width: 1920px;
    margin: 0 auto;
    .btn{
        margin-top: 170px;
        a{
            padding: 14px 111px 20px 68px;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            position: relative;
            &::after{
                content:url(../img/whiteArrow.svg);
                position: absolute;
                top: 17px;
                right: 68px;
            }
        }
    }
}
.trial__info{
    margin: 133px 154px 113px 583px;
    .title{
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: #000000;
        margin-bottom: 25px;
    }
    .text{
        font-weight: 300;
        font-size: 16px;
        line-height: 24px;
        color: #000000;
    }
}
.subscribe{
    display: flex;
    background: #0F7BFF;
    max-width: 1920px;
    margin: 0 auto;
}
.subscribe__items{
    margin: 128px auto 0;
    .title{
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 36px;
        line-height: 45px;
        color: #FFFFFF;
        text-align: center;
    }

}
.buttons{
    display: flex;
    position: relative;
    margin-bottom: 119px;
    .email{
        background: #0063DD;
        border-radius: 25px;
        width: 558px;
        padding: 11px 180px 15px 28px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        outline: none;
        &::placeholder{
            color: #FFFFFF; 
        }
    }
    .subscribe{
        position: absolute;
        right: 0px;
        border-radius: 0 25px 25px 0 ;
        background: #FFFFFF;
        padding: 13px 40px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #0063DD;
        outline: none;
        cursor: pointer;
    }
}
.footer{
    max-width: 1920px;
    background: #0063DD;
    margin: 0 auto;
    position: relative;
}
.footer__items{
    display: flex;
    ul{
        display: flex;
        margin: 51px 34px 50px 0;
        li{
            margin-right: 42px;
            a{
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }
    }
}
.copyright{
    margin: 51px 248px 50px 387px;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.social{
    margin: 51px 159px 44px 0;
    img{
        margin-right: 15px;
    }
}
.scrollUp{
    margin: 27px 0;
}




